* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* div {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.tela {
    background: linear-gradient(
        to right top,
        #BBD2C5,
        #536976,
        #5D26C1
    );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}